.new-form {
  border-radius: 8px;
  background-color: rgba(121, 121, 121, 0.474);
}
.upload-photo {
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: rgba($color: #ffffff, $alpha: 1.0);
  border-radius: 8px;
  color: #FF3DBB;
  border: 2px solid rgba($color: $cool-pink, $alpha: 1.0);
}
.btn-primary {
  background-color: #FF3DBB;
  border: none;
  &:hover {
    background-color: #aa2c7e;
  }
}

.login-main {
  margin-top: 80px;
  padding: 3rem 3rem;
  border: 2px solid white;
  border-radius: 40px;
  margin-bottom: 280px;


  h2 {
    padding-bottom: 20px;
  }

  a {
    color: #FF3DBB;
  }

  background-color: rgba(121, 121, 121, 0.474);
}

.signup-main {
  margin-top: 80px;
  padding: 3rem 3rem;
  border: 2px solid white;
  border-radius: 40px;
  margin-bottom: 250px;


  h2 {
    padding-bottom: 20px;
  }

  a {
    color: #FF3DBB;
  }

  background-color: rgba(121, 121, 121, 0.474);
}

.booking-form {
  background-color: rgba(121, 121, 121, 0.474);
}

.edit-main {
  margin-top: 80px;
  padding: 3rem 3rem;
  border: 2px solid white;
  border-radius: 40px;
  margin-bottom: 280px;


  h2 {
    padding-bottom: 20px;
  }

  a {
    color: #FF3DBB;
  }

  background-color: rgba(121, 121, 121, 0.474);
}