.new-form {
  border-radius: 8px;
}
.upload-photo {
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: #FF3DBB;
  border-radius: 2px;
}
.btn-primary {
  background-color: #FF3DBB;
  border: none;
  &:hover {
    background-color: #FF3DBB;
  }
}