$form_percentage: 25%;

.booking-form {
  border: 1px solid white;
  border-radius: 4px;
  width: $form_percentage;
  background-color: rgba($color: #faebd7, $alpha: 0.3);
}

.planet-specifics {
  width: calc(100% - #{$form_percentage});
  padding: 20px;
  padding-right: 70px;
}

.booking-specifics {
  border-radius: 4px;
  padding: 30px;
  i {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }

}
