$form_percentage: 25%;

.booking-form {
  border: 1px solid white;
  border-radius: 4px;
  width: $form_percentage;
}

.planet-specifics {
  width: calc(100% - #{$form_percentage});
  padding: 20px;
  padding-right: 70px;
}

