<%= render '/layouts/navbar' %>
<div class="new-form container justify-content-center col-6 mt-5 border border-white p-5">
  <h2 class = "font-weight-bold mb-4">Enter your new planet details here</h2>
  <%= render 'new' %>
</div>
