<div class="banner">
  <div class="nav">
  </div>
  <div class="jumbo">
    <h1>Get some space.</h1>
    <div class="search-bar">
      <input type="text" placeholder='Enter Portal Location'>
      <input type="submit">
    </div>
  </div>
</div>

<div class="middle-section">
  <h2>Featured planets</h2>
  <div class='cards'>

  </div>
</div>

<div class="bottom-banner">
  <div class="bottom-body">
    <h2>A whole new world.</h2>
    <h4>Get Jafar away</h4>
    <a href="/" class="btn btn-outline-success">Become a host!</a>
  </div>
</div>

<div class="footer">

</div>
