.container-display {
  width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.portfolio-effect {
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.portfolio-item {
  border-radius: 15px;
}


.middle-section h2 {
  font-family: 'Lato', sans-serif;
  margin: 60px 0 60px 0;
}


.portfolio-item__info {
  border-radius: 15px;
  a {
    color: $cool-pink;
  }
}
