.container-flex {
  margin-top: 50px;
}
.results-bar {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  padding: 0 16px 0 16px;
}

#map {
  width: 80%;
  height: 100vh;
  position: sticky;
  top: 0;
  border-radius: 15px;
}

.info {
  margin-top: 100px;
  margin-left: 50px;
  padding-top: 15px;
}

.resultinfo {
  margin-top: 50px;
}
