<nav class="navbar fixed-top">
  <a class="navbar-brand" href="/">SpaceBnB <i class="fas fa-rocket" style="margin-top: 3px;"></i></a>
  <form class="form-inline">
        <% if user_signed_in? %>
    <div class="avatar-img">
      <%= link_to dashboard_path do %>
          <%= image_tag "https://www.pinclipart.com/picdir/big/54-545588_file-stormtrooperhelmeticon-star-wars-star-wars-stormtrooper-dessin.png", class: "avatar-small", alt: "avatar" %>
          <% end %>
        </div>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <a class="my-2 my-sm-0 login" href="/users/sign_in">Log In</a>
    <% end %>
  </form>
</nav>
