<nav class="navbar fixed-top">

  <a class="navbar-brand" href="/">SpaceBnB <i class="fas fa-rocket" style="margin-top: 3px;"></i></a>
  <form class="form-inline">
    <a class="my-2 my-sm-0 login" href="/users/sign_in">Log In</a>
  </form>
</nav>
